﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Welcome NWMSU Gamers!</h3>

<p>The Northwest Game Rental Service is intended to provide our students a means to access
    popular games to be used to get a break from the academic environment. </p>
<p>Students can register on this site to look at games and reviews from other students
    and then decide if they would like to check out the game theirselves.</p>
<p>Games that are checked out can either be picked up from the Student Union or delivered to 
    a location of your choice either on or nearby campus</p>
<p>Games can be mailed or returned in person to our desk in the Union</p>
