﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
   Northewst Game Rental Service<br />
    J.W. Jones Student Union <br/>
    Maryville, MO 64468<br />
    <abbr title="Phone">Phone:</abbr>
    660.562.1234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:NWGames@nwmissouri.edu"> NWGames@nwmissouri.edu</a><br />
    <strong>Admin:</strong> <a href="mailto:admin@admin.com">admin@admin.com</a>
</address>
