﻿@page
@model AboutModel
@{
    ViewData["Title"] = "Games";
}
<h2>@ViewData["Title"]</h2>


<p>Select which console you would like to browse for.</p>
<a href="/xbox"><img src ="../images/xbox.jpg"/></a> &nbsp; &nbsp; &nbsp; <a href="/playstation"><img src="../images/playstation.jpg" /> </a>