﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/CaptureLogo.jpg" alt="xbox" class="img-responsive" style="width:100%; height:250px" />
            <div class="carousel-caption" role="option">
                <p>
                    Welcome Northwest Gamers.
                    <br />
                    <a class="btn btn-default" href="/Games">
                       Find Games
                    </a>
                    
                </p>


            </div>
        </div>
        <div class="item">
            <img src="~/images/playstationbanner.jpg" alt="playstation" class="img-responsive"  style="width:100%; height:250px" />
            <div class="carousel-caption" role="option">
                <p>
                    Check out our inventory of Playstation Games
                    <br />
                    <a class="btn btn-default" href="/playstation">
                        Browse Playstation
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/xboxbanner.jpg" alt="xbox" class="img-responsive" style="width:100%; height:250px" />
            <div class="carousel-caption" role="option">
                <p>
                    Check out our inventory of XBOX Games.
                    <br />
                    <a class="btn btn-default" href="/xbox">
                        Browse XBOX
                    </a>
                </p>


            </div>
            </div>
            
        </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


