﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h3>Thank you!</h3>

<p>
    Your order has been successfully placed and a confirmation email has been sent.  We will process your order as soon as possible.  On-Campus deliveries will made to location provided, Off-Campus requests will be prepared and ready for pick-up in about 15 minutes.  Reminder, games that are checked out must be delivered back to our desk at
    the Student Union.  If you have questions about your order, call or email us.
</p>
