﻿@page
@model AboutModel
@{
    ViewData["Title"] = "Playstation Games";
}
<h2 >@ViewData["Title"]</h2>

<style>
    .Row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .Column {
        display: table-cell;
    }
</style>
<script>

    var url = "/review?game=NBA 2K";
    var url2 = "/review?game=Call Of Duty WW2";
    var url3 = "/review?game=Battlefront II";

</script>


<p>Games Available for Playstation.</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">

                <div class="col-xs-4 col-sm-4">

                    <img src="../images/p2k.jpeg">
                    <br />
                    <div class="Row">

                        <div class="Column">
                            <a class="btn btn-sm" href="/review" onclick="this.href = url">
                                Review
                            </a>
                        </div>
                        <div class="Column">
                            <a class="btn btn-sm" href="/checkout" onclick="return confirm('Are you sure you would like to check out this game?')">
                                Check Out
                            </a>
                        </div>
                    </div>


                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="../images/pbf.jpeg" style="height:180px;width:180px;" />
                    <br />
                    <div class="Row">

                        <div class="Column">
                            <a class="btn btn-sm" href="/review"  onclick="this.href = url3">
                                Review
                            </a>
                        </div>
                        <div class="Column">
                            <a class="btn btn-sm" href="/checkout" onclick="return confirm('Are you sure you would like to check out this game?')">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="../images/pcod.jpeg"  />
                    <br />
                    <div class="Row">

                        <div class="Column">
                            <a class="btn btn-sm" href="/review"  onclick="this.href = url2">
                                Review
                            </a>
                        </div>
                        <div class="Column">
                            <a class="btn btn-sm" href="/checkout" onclick="return confirm('Are you sure you would like to check out this game?')">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>